RSS Feed Summarization with Image Generation/RSS Feed Summarization with Image Generation (3).json
{
  "name": "RSS Feed Summarization with Image Generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        288,
        528
      ],
      "id": "3954f74a-2f45-4e72-b6cb-977ec544460b",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/bBjDV3CBuAYekLrr.xml",
        "options": {}
      },
      "name": "RSS Feed Reader1",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        464,
        528
      ],
      "id": "9cd3cd82-8750-4575-92b3-c33f866b2e0d",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27366923-b2ff-4ca1-a66a-8ec4ceb0aa69",
              "name": "Title",
              "value": "={{ $json.title }}\n",
              "type": "string"
            },
            {
              "id": "919adbeb-45ec-457d-b885-5e848301ac6b",
              "name": "creator",
              "value": "={{ $json.creator }}",
              "type": "string"
            },
            {
              "id": "060cefd9-0ec1-4b51-b935-4126d52c6ca7",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "10b39e93-cee9-46b5-bcc4-ba5716a4ed58",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "85dad7a6-5eb9-4638-989c-61f249b7f7f2",
              "name": "contentsnippet",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            },
            {
              "id": "457f97e0-347f-431f-bdc1-15b37f75bb4c",
              "name": "guid",
              "value": "={{ $json.guid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Article Data1",
      "type": "n8n-nodes-base.set",
      "position": [
        640,
        528
      ],
      "id": "aaf0e2dc-f779-4cce-a31a-46132b1034ae",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "name": "Parse Summary1",
      "type": "n8n-nodes-base.code",
      "position": [
        1264,
        528
      ],
      "id": "7c9373da-7a9f-495e-969a-6532f5b238a9",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "name": "Prepare Airtable Data1",
      "type": "n8n-nodes-base.code",
      "position": [
        1632,
        528
      ],
      "id": "fd2a2a11-b60d-45aa-a550-4a0e2ababd45",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/appfJCfSfqVClbMTu/tblgXOQJNkABQWERN/viw82qTJBs3YV6khk?blocks=hide",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appfJCfSfqVClbMTu/tblgXOQJNkABQWERN/viw82qTJBs3YV6khk?blocks=hide",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Save to Airtable2",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1808,
        528
      ],
      "id": "edb41d96-e48b-4a0f-bd4a-5a5656739382",
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "taf423pgLWfgZrUe",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        528
      ],
      "id": "4c73822e-2617-4b3f-ba8a-582da58dd4a3",
      "name": "Wait1",
      "webhookId": "049a635a-0a0c-4a86-a42a-2ded198f0ab0"
    },
    {
      "parameters": {
        "content": "rss feed",
        "height": 432,
        "width": 1808,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        416
      ],
      "typeVersion": 1,
      "id": "c0f8e84a-58dc-4964-91c8-a6eebd59a3e9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a professional, realistic stock photography image depicting international travel advisory and visa documentation. The scene should show a modern airport terminal or travel agency setting with elements representing India-Iran travel relations. Include realistic elements such as: passport documents, visa stamps, official advisory notices, airplane in background, or travelers at check-in counters. The composition should convey themes of travel restrictions, government advisories, and international travel precautions.\n\nStyle: Ultra-realistic commercial photography, high resolution 4K, natural lighting, professional editorial quality, sharp focus on documents and travel elements.\n\nMood: Serious, informative, professional news photography aesthetic.\n\nColor palette: Natural, professional tones with emphasis on official document colors (blue passports, government letterheads).\n\nTechnical: Shot with professional camera equipment, shallow depth of field focusing on travel documents, balanced exposure, photojournalistic style suitable for news articles.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        976,
        528
      ],
      "id": "af5d72e3-b958-4356-89fe-88fbb6b07582",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        976,
        704
      ],
      "id": "2621be08-da94-4c9e-af80-66a050c08d47",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "1XabDCttLWI7kphA",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image-preview (Nano Banana)"
        },
        "prompt": "Professional stock photography for news article about India's advisory to citizens after Iran's visa-free travel suspension. Create a realistic, high-quality editorial photograph showing an Indian passport (dark blue cover) with open visa pages, official government travel advisory document with visible letterhead, and a modern airport or travel office setting in soft-focus background. Include subtle elements like a departure board, desk with travel documents, or official stamps. Natural office lighting with warm tones, shot with professional camera quality showing shallow depth of field with sharp focus on the passport and advisory documents in foreground. Ultra-realistic 4K resolution, commercial photography aesthetic, editorial photojournalism style. Color palette: Deep blues from passport, crisp whites from official documents, warm natural ambient lighting. Mood: Serious, informative, credible, professional news imagery. Technical specifications: Professional DSLR quality, balanced exposure, 16:9 landscape aspect ratio suitable for blog header or social media, no text overlays, no identifiable faces, news-appropriate content.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1440,
        528
      ],
      "id": "d325d211-103f-4134-b39f-399d33a22624",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "1XabDCttLWI7kphA",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger1": [
      {
        "json": {
          "timestamp": "2025-11-16T23:03:12.956-05:00",
          "Readable date": "November 16th 2025, 11:03:12 pm",
          "Readable time": "11:03:12 pm",
          "Day of week": "Sunday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "16",
          "Hour": "23",
          "Minute": "03",
          "Second": "12",
          "Timezone": "America/New_York (UTC-05:00)"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "RSS Feed Reader1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Reader1": {
      "main": [
        [
          {
            "node": "Extract Article Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article Data1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Summary1": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Airtable Data1": {
      "main": [
        [
          {
            "node": "Save to Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Parse Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Prepare Airtable Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c802175-cb33-47b8-9fe7-fcf657118a14",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bac82d060121a7236925e882ffecd839bbd440fdf92c53fe6ecf6d19f3a6fc42"
  },
  "id": "gzl6D3IGn0SwQhZz",
  "tags": []
}