N8N Workflows/newsletter system.json
{
  "name": "newsletter system",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtMinute": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -528,
        -16
      ],
      "id": "9820b818-4304-4f03-934c-2f04d69eeea0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "query": "ai adoption for small business",
        "options": {
          "topic": "news",
          "max_results": 5,
          "time_range": "week"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -384,
        -16
      ],
      "id": "b565e003-681e-4617-b3ae-966a00ee4eff",
      "name": "Search",
      "credentials": {
        "tavilyApi": {
          "id": "d54jslXTuh1hIb0q",
          "name": "Tavily account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        256,
        256
      ],
      "id": "8b579bab-6622-4282-8225-c71c46c95c32",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "BeeAkefKd7nNedNp",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -96,
        224
      ],
      "id": "de0bbea4-6efb-4705-aa2d-bdcc2ebcb303",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.cities",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        112,
        -16
      ],
      "id": "8d6cfe78-5169-44eb-bd1a-b4a8beb54b2f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "query": "={{ $json['output.cities'] }}",
        "options": {
          "time_range": "month",
          "include_raw_content": false
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        320,
        -16
      ],
      "id": "af61007d-a361-43da-b0f2-bf34c473293c",
      "name": "research cities",
      "credentials": {
        "tavilyApi": {
          "id": "d54jslXTuh1hIb0q",
          "name": "Tavily account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=cities :  {{ $json.query }}\n\n",
        "options": {
          "systemMessage": "You are a professional newsletter section writer. your only task is to write one standlone section of a newsletter."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        496,
        -16
      ],
      "id": "9030d838-2e5d-4aec-bee7-ef36f4bff2e7",
      "name": "section writer agent "
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        848,
        -16
      ],
      "id": "ee7900df-a70b-4527-b881-b80f0afbc819",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        928,
        192
      ],
      "id": "a50041b7-5903-418c-a3a6-e962d9ba446b",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "BlGhS5zKCyjmROw1",
          "name": "OpenRouter account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=title : planning agent\n\n\n{{ $json.output.join(\"\\n\\n\\n\") }}\n\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert newsletter edditor. merge exactly three provided sections into a cohesive, email ready html body with a holystic introduction and conclusion."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1056,
        -16
      ],
      "id": "112f691e-3f42-48f0-a8e2-2da4f8e3d501",
      "name": "editor agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=article :{{ $json.results[0].url }}\n\n{{ $json.results[0].title }}\n\n{{ $json.results[0].content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert newsletter planner. you will receive three articles from the past week your job is to come up with a creative and fun title as well as the main topic for this newsletter."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -240,
        -16
      ],
      "id": "4e3047ab-26e6-4835-a47a-106a647ec1c5",
      "name": "planning agent"
    },
    {
      "parameters": {
        "schemaType": "manual"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1232,
        192
      ],
      "id": "b03f4440-b560-4be8-9717-e98a46628261",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.output.state }}",
        "emailType": "html",
        "message": "={{ $json.output.cities[0] }}",
        "options": {
          "sendTo": "bharathchowdhary79@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1408,
        -16
      ],
      "id": "8054dcf8-3038-4e3c-b832-7cf370b15672",
      "name": "Create a draft",
      "webhookId": "07ddfa8c-e8b4-4570-b746-319626c991be",
      "credentials": {
        "gmailOAuth2": {
          "id": "7PYghrooHFNvuzt5",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "main": [
        [
          {
            "node": "planning agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "planning agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "section writer agent ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "planning agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "research cities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "research cities": {
      "main": [
        [
          {
            "node": "section writer agent ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "section writer agent ": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "editor agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "editor agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "planning agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "editor agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "editor agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7339b372-c643-45fc-902f-7a0bfbd2c685",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "170959d2801859339990bbea170ae9e52c17ef5adf885a98b52d193ccf6bec19"
  },
  "id": "vFQgKPfPiW6tBGU8",
  "tags": []
}